/*
html, body{
  height:100%;
}
*/
body {
  padding:0;
  margin:0;
  font-family:"Sans";
}

.wrapper {	
	min-height:350px;
	background:url(/images/imgo.jpeg) 0 0 no-repeat;
	height:100%;
	background-color:#399ed6;
}

.image-block {
	margin-right:20px;
	padding:70px 0 0 12px;
	height:100%;
	max-width: 200px;
} 

.image-block img{
	min-width: 60px;
}

.text-block {
	
	padding-top:65px;
	height:10px;
}

.text-block h1 {
	margin:0 0 30px;
	padding:0;
	font-size:36px;
	font-weight:bold;
}

.text-block p.country {
	font-size:30px;
	font-style:italic;
	word-break: break-all;
}

.first-block {
	height:427px;
}

.bottom-text {
	color:#fff;
	font-size:24px;
	background-color:#399ed6;
	font-weight:bold;
}

.bottom-text p {
	padding:10px 20px 0px;
	line-height:24px;
	text-align : left;
	font-weight:bold:
}


#country {
/*    font-size:2em;*/
}



/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 640px;
  }
.text-block h1 {
        font-size:30px;
}

}

@media (max-width: 1024px) {
	
	html, body{
	  height:auto;
	}	
	.image-block img {
		width:80%;
		height:80%;
	}
	
}

@media (max-width: 414px) and (orientation: portrait) { 
	
	.wrapper {
		background-position: -36px -20px;
	}
	
	.first-block {
		height:250px;
	}
	
	.bottom-text p {
		padding:0 15px 60px;
		line-height:20px;
		font-size:18px;
	}
	
	.text-block h1 {
		margin:0 0 18px;
	}
	
	.bottom-text {
		font-size:16px;
		font-weight:bold;
	}
	
	.text-block h1 {
		font-size: 18px;
	}
	
	.text-block p.country {
		font-size:18px;
	}
	
	.image-block img {
		width:80%;
		height:80%;
	}

}

@media (max-width: 320px) and (orientation: portrait) { 
	
	.wrapper {
		background-position: -50px 0;
		
	}
	
	

}


	
	
